/* 폰트 색상 */
.primary,
.deco-line {
  color: #024a3e;
}
/* .secondary {
  color: #062923;
} */
.tertiary {
  color: #35c787;
}
.muted {
  color: rgba(2, 75, 62, 0.4);
}
.accent {
  color: #48c2a6;
}
.sentence {
  color: #3f3f3f;
}
.point {
  color: white;
  background-color: #35c787;
}
.footer {
  color: white;
  background-color: #6ddfb9;
}
.wrap-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body,
.nav {
  background-color: #f5fffd;
}

.header,
.profile-wrap {
  /* position: relative; */
  width: 100%;
  max-width: 1120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 120px;
  /* font-size: 16px;
  font-weight: bold; */
}

/* 고정 네비 */
.nav {
  display: flex;
  justify-content: center;
  position: fixed;
  height: 106px;
  inset: 0;
  bottom: 106px;
  z-index: 99;
}
.nav-inner {
  max-width: 1150px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}
.nav-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 60px 32px 0 32px;
  gap: 36px;
}

/* 헤더 영역 */
.hero-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.hero-title-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 106px 0 4px 0;
  height: 622px;
  background: url("../image/portfolio_bg.png") no-repeat center;
}

.hero-meta-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* padding-bottom: 70px; */
  text-align: center;
}

/* 메인 페이지 */
.profile-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* row-gap: 120px; */
  /* grid-template-rows: 523px; */
  padding: 170px 70px;
  /* margin-top: 100px; */
  font-size: 18px;
  font-weight: bold;
  /* padding: 0 70px; */
}

.pf-img > img {
  display: block;
  /* max-width: 100%;
  height: auto; */
  max-width: 100%;
  height: auto;
  border-radius: 200px 200px 5px 5px;
}

/* 프로필 영역 (콘텐츠) */
.pf-intro {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 1.875rem;
}

.pf-position {
  font-size: 2.25rem;
  font-weight: 600;
}
.pf-name {
  width: fit-content;
  padding-top: 0.5em;
  position: relative;
}
.pf-name::after {
  width: 104%;
  height: 4px;
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #48c2a6, #f9ffce);
}
.pf-mbti {
  font-size: 1.5rem;
  font-weight: 600;
}
.pf-desc-wrap {
  font-size: 1rem;
  font-weight: 500;
}
.pf-desc {
  padding: 1.875em 0;
}

/* 데코 라인 */
.deco-line {
  font-size: 2.25rem;
}

.profile,
.info-wrap,
.skill-wrap,
.activity-wrap {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(382px, 1fr));
  column-gap: 24px;
  row-gap: 120px;
}

.contents,
.education,
.tool-skills,
.license,
.hobby,
.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-inner,
.education-inner,
.tool-skills-inner,
.license-inner,
.hobby-inner,
.experience-inner {
  width: 358px;
}
